services:
    app:
        build:
            context: .
            dockerfile: docker/Dockerfile
            target: dev
        container_name: php-app
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:9000/ping" ]
            interval: 10s
            timeout: 5s
            retries: 3
        expose:
            - "9000"
        networks:
            - app-network












    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - app-network
        depends_on:
            - app

networks:
    app-network:
        driver: bridge
