services:
    app:
        build:
            context: .
            dockerfile: docker/Dockerfile
            target: prod
        env_file:
            - .env.prod
        container_name: php-app
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:9000/ping" ]
            interval: 10s
            timeout: 5s
            retries: 3
        expose:
            - "9000"
        environment:
            - APP_ENV
            - DEBUG
            - DATABASE_URL
            - CACHE_DRIVER
            - LOG_LEVEL
        networks:
            - prod-network




    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - prod-network
        depends_on:
            - app

networks:
    prod-network:
        driver: bridge
