services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/var/www/symfony:cached
    working_dir: /var/www/symfony
    ports:
      - "9000:9000"

  nginx:
      image: nginx:1.25-alpine
      ports:
          - "8080:80"  # внешний порт 8080 → внутри контейнера 80
      volumes:
          - .:/var/www/symfony:cached
          - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
          - php

  mysql:
      image: mysql:8.0
      env_file:
          - .env.local
      restart: unless-stopped  # Перезапуск при падении (но не при ручном остановке)
      environment:
          MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
          MYSQL_DATABASE: ${DB_NAME}
          MYSQL_USER: ${DB_USER}
          MYSQL_PASSWORD: ${DB_PASSWORD}
      ports:
          - "${DB_PORT}:3306"  # Проброс на хост (для доступа извне, например, через DBeaver)
      volumes:
          - mysql_data:/var/lib/mysql  # Постоянный объём для данных
          - ./docker/mysql/init:/docker-entrypoint-initdb.d  # Скрипты инициализации
      command:
          --default-authentication-plugin=mysql_native_password  # Для совместимости с старыми клиентами


volumes:
    mysql_data:
        driver: local
