services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/var/www/symfony:cached
    working_dir: /var/www/symfony
    ports:
      - "9000:9000"

  nginx:
      image: nginx:1.25-alpine
      ports:
          - "8080:80"  # внешний порт 8080 → внутри контейнера 80
      volumes:
          - .:/var/www/symfony:cached
          - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
          - php
